body{
    background-color: aqua;
}

*,::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 10vh;
    text-align: center;
    margin-top: 20px;
    color: #333;
}

h3 {
    color:rgb(12, 15, 58);
    font-size: 25px;
}

body{
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    height: 10vh;
     display: flex;
    flex-direction: column;
}
.contenu{
    flex: 1 0 auto;
}

footer{
    flex-shrink:0;
/*     border-top: 1px dashed#000;
 */    width: 100%;
 background:lawngreen;

    color: #333;
} 

.contenu-footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}
.bloc{
    width: 25%;
    margin: 0 30px;
}

/* contact */

.footer-contacts h3,
.footer-services h3,
.footer-medias h3,
.footer-horaires h3 {
    font-size: 25px;
    padding-bottom: 20px;
}
.footer-contacts p {
    padding: 0;

}

/* services */

.listes-services,
.listes-horaires,
.listes-media {
    list-style-type: none;
}
.listes-services li {
    padding: 2px 0;

}
.listes-services a {
    text-decoration: none;
    color: #333;
}
.listes-services a :hover {
    color:rgb(3,3,3);
}
/* medias */
.listes-media{
    position:relative;
    right: 10px;
}
.listes-media img {
    width: 40px;
    margin: 10px 10px;
}
.listes-media a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    font-size: 25px;
}
@media screen and (max-width: 1200px){
.contenu-footer {
    width: 700px;
    flex-wrap: wrap;
    }
    .bloc {
        width: 40%;;
        margin:0 0;
    }
    .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 800px){
    .contenu-footer{
        width: 320px;
      }
      .bloc{
        width: 300px;
        margin: 30px 30px;
      }
      .bloc:nth-child(1),
    .bloc:nth-child(2) {
        margin-bottom: 30px;
    }
}

h2 {
    position:relative;
/*     left: 390px;
 */     font-size: 8vh;
    margin-top: 20px;
}
/* .text-primary {
    position:relative;
    left: 390px; 
} */
